body {
  background-color: #00AABB;
}

article {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: white;
}

article header {
  font-weight: bold;
  font-size: 1.3em;
}

article footer {
  font-weight: lighter;
  font-size: 0.7em;
  text-align: right;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
	border: solid 1px #dcdcdc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	transition: box-shadow 0.3s, border 0.3s;
}

textarea.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

input {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.comment{
  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #00AA60;
}
